<h1>Add courses</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Name courses</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Price courses</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Add courses</button>
</form>